header,
footer {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

.block {
    width: 300px;
    height: 300px;
    background-color: red;
    border: 3px solid black;
    margin: 25px;
    display: inline-block;
}

.block p {
    padding: 20px;
    border: 1px solid white;
}

.yellow-text {
    color: yellow;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

div.menu {
    border: blue 1px solid;
    padding: 1em;
    font-family: Arial, sans-serif;
    font-size: larger;
}

.menu > a {
    margin-right: 1em;
}

.user-details {
    font-family: Arial, sans-serif;
    padding: 1em;
}

.footer {
    position: fixed;
    bottom: 0px;
    font-family: Arial, sans-serif;
    font-size: small;
    padding: .5em;
}